<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpen321.floatproject" >

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-sdk tools:overrideLibrary="com.paypal.android.sdk.payments" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/float_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activities.MapPage" />
        <activity android:name=".activities.CreateCampaign" />
        <activity android:name=".activities.CampDetails" />
        <activity android:name=".activities.CampListView" />
        <activity android:name=".activities.CampSpreaded" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.InstantPayment" />
        <activity
            android:name=".activities.InstantPaymentStatus"
            android:label="@string/title_activity_payment_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.FuturePaymentAgreement" />
        <activity android:name=".activities.MakeFuturePayment"></activity>
        <activity android:name=".activities.UserDetails"></activity>
        <activity android:name=".activities.CreateUser"></activity>
    </application>

</manifest>
